<div class="not-found">
  <div class="not-found__inner">

    <div class="not-found__code">
      <span class="symbol">&lt;</span>4<span class="symbol">0</span>4<span class="symbol">/&gt;</span>
    </div>
    <div class="not-found__inside">
      <img src="/images/Not_Found.webp" alt="404 Image">
      <h1 class="not-found__title">{{ '404.TITLE' | translate }}</h1>
      <p class="not-found__desc">
        {{ '404.SUBTITLE' | translate }}
      </p>
      <a routerLink="/" class="btn-primary">
        {{ '404.CTA' | translate }}
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2.5">
          <path d="M5 12h14M12 5l7 7-7 7"/>
        </svg>
      </a>

    </div>

  </div>
</div>
